.logo {
    mask:url("images/krk-logo.svg") no-repeat center / contain;
    -webkit-mask:url("images/krk-logo.svg") no-repeat center / contain;
    height: 15vw;
    max-height: 1.275in;
}

.cert-icon {
    mask:url("images/verified_black_48dp.svg") no-repeat center;
    -webkit-mask:url("images/verified_black_48dp.svg") no-repeat center;
    width: 50px;
    height: 50px;
    padding: 25px;
}

.colored {
    background-color: #00ab44;
}

#github img {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    border-top: medium solid #00ab44;
    margin-top: 2%;
}

div.footer {
    text-align: center;
}

.skill-logo {
    width: 100px;
    height: 100px;
}

.skill-item {
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
    align-items: center;
}

div#github {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

div#github img {
    width: 20px;
    height: 20px;
}

body {
    margin: 5vw 5vw 2vw 5vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    font-family: 'Roboto', sans-serif;
    color: #353744;
    max-width: 8.5in;
}

div#intro p {
    font-weight: 500;
}

address {
    font-style: normal;
    margin-bottom: 1em;
}

h1 {
    font-weight: 400;
    color: #353744;
}

div#intro h1 {
    margin-bottom: 0;
}

h2 {
    color: #00ab44;
}

div#intro h2 {
    margin-top: 0;
    font-weight: 400;
}

h3 {
    margin-bottom: 0.5em;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.edu-item h4 {
    font-weight: 300;
    font-style: italic;
}

.cert-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cert-item img {
    width: 50px;
    height: 50px;
    padding: 25px;
}

.cert-item h3 {
    margin-top: 0;
}

.cert-item h4 {
    font-weight: 300;
    font-style: italic;
}

h5 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.5em;
}

.topic {
    text-transform: uppercase;
}

.date-range {
    font-weight: 300;
    text-transform: uppercase;
}

.job-title {
    font-style: italic;
    font-weight: 300;
}

.years-exp {
    text-transform: uppercase;
    font-weight: 300;
}

.skill-desc h3 {
    font-weight: 300;
}
